.date,
.weekday {
  display: inline-block;
  min-width: 36px;
  padding: 11px 3px;
  text-align: center;
}
.date {
  border-radius: 50%;
}
.date:not(.in-month) {
  background-color: white !important;
  color: white !important;
}
.weekday {
  font-weight: bold;
  color: gray;
}
#month {
  text-align: center;
  font-weight: bold;
  width: 320px;
  margin-bottom: 10px;
  color: gray;
}
.today {
  background-color: teal;
  color: white;
}
